<h1>New Post</h1>
<div class="posts">
  <h1>Create New Post</h1>
  <%= form_with(model: [@user, @post], url: user_posts_path(@user)) do |f| %>
    <div class="f-post">
      <div class="f-label">
        <%= f.label :title %>
        <%= f.text_field :title, class: "input", required: true %>
      </div>
      <div class="f-label">
        <%= f.label :text %>
        <%= f.text_area :text, class: "input", rows: 3, cols: 25, required: true %>
      </div>
      <div class="btn">
        <p><%= f.submit "Add Post", class: "button_center"%></p>
      </div>
    </div>
  <% end %>
</div>

