<h1>Selected post for a user</h1>
<div class="container">
  <div class="posts">
    <div class="post_header">
      <ul>
        <li>
          <h3>
            <%= @post.title %> 
            <span>by <%= @post.author.name %></span>
          </h3>          
        </li>
        <li class="likes">
          <span>Comments: <%= @post.comment_counter %></span>,
          <span>Likes: <%= @post.like_counter %></span>
        </li>
      </ul>
    </div>
    <div class="post_txt">
        <p><%= @post.text %></p>
    </div>
    <%= form_with model: @like, url: user_post_likes_path(@user, @post) do |f| %>
  <span><%= f.submit "Like", class: "btn" %></span>
<% end %>
  </div>

  <div class="comments">
    <p>Comments: <%= @count %></p>
    <ul>
      <% @post.recent_comments.each do |comment| %>
        <li>
          <%= render partial: 'partials/comment', locals: { comment: comment } %>
        </li>
      <% end %>
    </ul>
    <%= link_to 'Add Comments', new_user_post_comment_path(@user, @post), class: 'btn' %>
  </div>
</div>
